<br>
<br>
<br>
<br>
<h1 *ngIf="showAlert">Nhiệt độ đang nóng hơn kế hoạch của bạn</h1>
<br>
<br>
<br>
<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- Máy lạnh -->
    <div class="col-md-4 text-center">
      <img src="https://via.placeholder.com/150?text=Air+Conditioner" alt="Air Conditioner" class="img-fluid mb-3">
      <div>
        <label for="temperature" class="form-label">Đặt nhiệt độ điều hòa</label>


        <!-- <input id="temperature" type="number" class="form-control text-center" [(ngModel)]="acTemperature" min="16" max="30"> -->
      </div>


      <mat-slider min="16" max="30" step="1" showTickMarks discrete [displayWith]="formatLabel">
        <input matSliderThumb (change)="onSliderChange($event)">
      </mat-slider>
      <div class="mt-3">
        <p class="lead">Nhiệt độ hiện tại: <strong>{{ roomTemperature }} °C</strong></p>
      </div>
      <!-- Nút kết nối để nhận dữ liệu từ server -->
      <button class="btn btn-primary mt-3" (click)="startListening()">Bắt đầu cập nhật nhiệt độ</button>
      <button class="btn btn-primary mt-3" (click)="closeListening()">Dừng cập nhật nhiệt độ</button>
    </div>

    <!-- Đèn -->
    <div class="col-md-4 text-center">
      <div [style.background-color]="lightColors[currentColorIndex]" class="light-bulb mb-3"></div>
      <button class="btn btn-lg" [style.background-color]="lightColors[currentColorIndex]"
        (click)="changeLightColor()">Đổi màu sắc đèn</button>
    </div>

    <!-- Quạt -->
    <div class="col-md-4 text-center">
      <div class="fan" [ngStyle]="{'animation-duration': speedSettings[currentSpeed] + 's'}"></div>
      <div class="mt-3">
        <button class="btn btn-primary" (click)="increaseSpeed()">Tăng tốc</button>
        <button class="btn btn-secondary" (click)="decreaseSpeed()">Giảm tốc</button>
        <p class="mt-2">Tốc độ hiện tại: {{ currentSpeed }}</p>
      </div>
    </div>
  </div>
</div>