.temperature-alert {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Khoảng cách giữa các phần tử */
    margin: 20px;
    /* Khoảng cách trên dưới */
}

.label {
    font-size: 16px;
    font-weight: bold;
}

.input-box {
    width: 100px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.update-button {
    margin: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-button:hover {
    background-color: #0056b3;
}